* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding: 5px 15%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
}

.header {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.header h1 {
    font-size: 100px;
}

.one-column {
    float: left;
    width: 100%;
    padding: 10%;
}

.one-column h1 {
    font-size: 5vw;
    text-align: center;
}

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.two-column img {
    width: 100%;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
    margin-bottom: -5px;
}

.four-column p {
    text-align: center;
}

.four-column img {
    width: 100%;
}

#section-2 {
    background-color: #28ECA5;
}

#section-5 {
    background-color: #46A6FC;
}

#footer {
    background-color: black;
    color: white;
    font-size: 20px;
}

#footer p {
    font-size: 20px;
    text-align: left;
}

.padding-0 {
    padding: 0px;
}

@media screen and (max-width:600px) {
    .two-column {
        width: 100%;
    }
    .four-column {
        width: 50%;
    }
    li a {
        font-size: 14px;
    }
    ul {
        padding: 0px;
    }
}